<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mukho.linepro.mapper.ChatMapper">

    <select id="getChatList" resultType="com.mukho.linepro.dto.chat.ChatDto">
        SELECT
            c.chat_id as chatId,
            c.send_user_id as sendUserId,
            c.message,
            c.send_at as sendAt,
            (SELECT COUNT(*)
                FROM room_participants rp
                WHERE rp.room_id = c.room_id
                AND rp.last_read_chat_id &lt;= c.chat_id) as notRead
        FROM chat c
        WHERE c.room_id = #{roomId}
        ORDER BY c.send_at ASC
    </select>

    <insert id="sendChat" parameterType="com.mukho.linepro.domain.Chat" 
            useGeneratedKeys="true" keyProperty="chatId" keyColumn="chat_id">
        INSERT INTO chat (room_id, send_user_id, message)
        VALUES (#{roomId}, #{sendUserId}, #{message})
        <selectKey resultType="int" keyProperty="chatId" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

</mapper>