<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.mukho.linepro.dto.user.User" alias="User" />
        <typeAlias type="com.mukho.linepro.dto.room.Room" alias="Room" />
        <typeAlias type="com.mukho.linepro.dto.room.RoomParticipants" alias="RoomParticipants" />
        <typeAlias type="com.mukho.linepro.dto.chat.Chat" alias="Chat" />
        <typeAlias type="com.mukho.linepro.dto.chat.ReadReceipts" alias="ReadReceipts" />
    </typeAliases>
</configuration>