.title {
  text-align: center;
  color: #06c755;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.id {
  width: 100%;
  min-width: 300px;
}

.password {
  width: 100%;
  min-width: 300px;
}

.form-btn {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 0;
}

.hello-btn {
  width: 145px;
  height: 40px;
}

.ant-form-item {
  width: 100%;
  box-sizing: border-box;
}
