.user-list {
  width: 100%;
  height: calc(100vh - 60px - 60px - 3px);
  margin: 0 auto;

  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: auto;
}

.user:hover {
  background-color: gainsboro;
}
